$background-color: #666666;
$canvas-radius: 4px;

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: $background-color;
}

canvas {
  display: none;
  // horizontally/vertically centre from http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
  // i have to google this every time
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: $canvas-radius;
  box-shadow: 0px ($canvas-radius / 2) $canvas-radius black;
}